In [1]:
from sqlalchemy import create_engine
import pandas as pd
import numpy

In [2]:
engine = create_engine('postgresql+psycopg2://postgres:password@localhost/first_dibs')
engine

Engine(postgresql+psycopg2://postgres:***@localhost/first_dibs)

In [3]:
sql = "SELECT * FROM salesforce_account_records LIMIT 1;"

In [4]:
temp_df = pd.read_sql_query(sql, engine)
temp_df

,id_salesforce_account_records,seller_pk_salesforce_account_records,account_id
0,3,f_10528,0010L00001jCjRGQA0

In [5]:
master_q = """
    SELECT  seller_pk AS "Seller PK",
            seller_status AS "Seller Status",
            seller_status_code AS "Seller Status(Full)",
            seller_rating AS "Seller Rating",
            TIMESTAMP 'epoch' + CAST(seller_date_registered AS INTEGER) * INTERVAL '1 second' 
                AS "Seller Registered",
            CASE WHEN seller_date_contract_start = 0 THEN NULL
            ELSE TIMESTAMP 'epoch' + CAST(seller_date_contract_start AS INTEGER) * INTERVAL '1 second' 
            END 
                AS "Seller Agreement Start Date",
            CAST((
                CASE 
                    WHEN seller_distinguished IS NULL THEN FALSE
                    ELSE TRUE 
                END 
            ) AS INTEGER) AS "Seller Destinguish"
    FROM stdib_dibssellers
    LIMIT 1;
"""

temp_df_master = pd.read_sql_query(master_q, engine)
temp_df_master

,Seller PK,Seller Status,Seller Status(Full),Seller Rating,Seller Registered,Seller Agreement Start Date,Seller Destinguish
0,f_2,closed,closed.voluntary,None,2001-10-10 00:12:55,None,0

In [6]:
master_q_2 = """
    WITH CT1 AS (
        SELECT  seller_pk AS "Seller PK",
            seller_status AS "Seller Status",
            seller_status_code AS "Seller Status(Full)",
            seller_rating AS "Seller Rating",
            TIMESTAMP 'epoch' + CAST(seller_date_registered AS INTEGER) * INTERVAL '1 second' 
                AS "Seller Registered",
            CASE WHEN seller_date_contract_start = 0 THEN NULL
            ELSE TIMESTAMP 'epoch' + CAST(seller_date_contract_start AS INTEGER) * INTERVAL '1 second' 
            END 
                AS "Seller Agreement Start Date",
            CAST((
                CASE 
                    WHEN seller_distinguished IS NULL THEN FALSE
                    ELSE TRUE 
                END 
            ) AS INTEGER) AS "Seller Destinguish"
        FROM stdib_dibssellers
            
    ),
    CT2 AS (
        SELECT *
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = id_seller_addresses_xref
    )
    SELECT *
    FROM CT2
    LIMIT 1;

"""
temp_df_master_2 = pd.read_sql_query(master_q_2, engine)
temp_df_master_2

,id_seller_addresses,state,country,id_seller_addresses_xref,seller_pk_seller_addresses_xref,address_id,address_status,address_type
0,56704683,Paris,FR,None,None,None,None,None

In [7]:
master_q_3 = """
    WITH CT1 AS (
        SELECT  seller_pk ,
            seller_status ,
            seller_status_code,
            seller_rating,
            TIMEZONE('America/New_York',TO_TIMESTAMP(seller_date_registered))
            AS seller_registered,
            CASE WHEN seller_date_contract_start = 0 THEN NULL
            ELSE TIMEZONE('America/New_York',TO_TIMESTAMP(seller_date_contract_start)) 
            END
            AS "seller_agreement_start_date",
            CAST((
                CASE 
                    WHEN seller_distinguished IS NULL THEN FALSE
                    ELSE TRUE 
                END 
            ) AS INTEGER) AS "seller_destinguished"
        FROM stdib_dibssellers
            
    ),
    CT2 AS (
        SELECT *
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
    )
    SELECT *
    FROM CT1 JOIN CT2 ON CT1.seller_pk = seller_pk_seller_addresses_xref
    WHERE seller_pk = 'f_20';

"""
temp_df_master_3 = pd.read_sql_query(master_q_3, engine)
temp_df_master_3

,seller_pk,seller_status,seller_status_code,seller_rating,seller_registered,seller_agreement_start_date,seller_destinguished,id_seller_addresses,state,country,id_seller_addresses_xref,seller_pk_seller_addresses_xref,address_id,address_status,address_type
0,f_20,closed,closed.voluntary,None,2000-11-03 16:08:42,None,0,56683003,None,FR,39285433,f_20,56683003,ACTIVE,SELLER_SHIPPING
1,f_20,closed,closed.voluntary,None,2000-11-03 16:08:42,None,0,56683003,None,FR,39285453,f_20,56683003,ACTIVE,SELLER_DEFAULT

In [8]:
master_q_4 = """
    WITH CT1 AS (
        SELECT  seller_pk ,
            seller_status ,
            seller_status_code,
            seller_rating,
            TIMEZONE('America/New_York',TO_TIMESTAMP(seller_date_registered))
            AS seller_registered,
            CASE WHEN seller_date_contract_start = 0 THEN NULL
            ELSE TIMEZONE('America/New_York',TO_TIMESTAMP(seller_date_contract_start)) 
            END
            AS "seller_agreement_start_date",
            CAST((
                CASE 
                    WHEN seller_distinguished IS NULL THEN FALSE
                    ELSE TRUE 
                END 
            ) AS INTEGER) AS "seller_destinguished"
        FROM stdib_dibssellers
            
    ),
    CT2 AS (
        SELECT *
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
    ),
    CT3 AS (
        SELECT state, seller_pk_seller_addresses_xref
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
        WHERE address_type LIKE 'SELLER_DEFAULT'
    ),
    CT4 AS (
        SELECT country, seller_pk_seller_addresses_xref
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
        WHERE address_type LIKE 'SELLER_DEFAULT'
    ),
    CT5 AS(
        SELECT state, seller_pk_seller_addresses_xref
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
        WHERE address_type LIKE 'SELLER_SHIPPING'
    ),
    CT6 AS(
        SELECT country, seller_pk_seller_addresses_xref
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
        WHERE address_type LIKE 'SELLER_SHIPPING'
    )
    
    SELECT  CT1.seller_pk,
            CT1.seller_status,
            CT1.seller_status_code,
            CT1.seller_rating,
            CT1.seller_registered,
            CT1.seller_agreement_start_date,
            CT1.seller_destinguished,
            CT3.state as seller_default_state,
            CT4.country as seller_default_country,
            CT5.state as seller_shipping_state,
            CT6.country as seller_shipping_country
            
    FROM CT1 , CT3, CT4, CT5, CT6
    WHERE seller_pk = 'f_2' 
            AND CT3.seller_pk_seller_addresses_xref ='f_2' 
            AND CT4.seller_pk_seller_addresses_xref ='f_2' 
            AND CT5.seller_pk_seller_addresses_xref ='f_2'
            AND CT6.seller_pk_seller_addresses_xref ='f_2';


"""
temp_df_master_4 = pd.read_sql_query(master_q_4, engine)
temp_df_master_4

,seller_pk,seller_status,seller_status_code,seller_rating,seller_registered,seller_agreement_start_date,seller_destinguished,seller_default_state,seller_default_country,seller_shipping_state,seller_shipping_country
0,f_2,closed,closed.voluntary,None,2001-10-09 20:12:55,None,0,None,FR,None,FR

In [9]:
master_q_5 = """
    WITH CT1 AS (
        SELECT  seller_pk ,
            seller_status ,
            seller_status_code,
            seller_rating,
            TIMEZONE('America/New_York',TO_TIMESTAMP(seller_date_registered))
            AS seller_registered,
            CASE WHEN seller_date_contract_start = 0 THEN NULL
            ELSE TIMEZONE('America/New_York',TO_TIMESTAMP(seller_date_contract_start)) 
            END
            AS "seller_agreement_start_date",
            CAST((
                CASE 
                    WHEN seller_distinguished IS NULL THEN FALSE
                    ELSE TRUE 
                END 
            ) AS INTEGER) AS "seller_destinguished"
        FROM stdib_dibssellers
            
    ),
    CT2 AS (
        SELECT *
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
    ),
    CT3 AS (
        SELECT state, seller_pk_seller_addresses_xref
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
        WHERE address_type LIKE 'SELLER_DEFAULT'
    ),
    CT4 AS (
        SELECT country, seller_pk_seller_addresses_xref
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
        WHERE address_type LIKE 'SELLER_DEFAULT'
    ),
    CT5 AS(
        SELECT state, seller_pk_seller_addresses_xref
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
        WHERE address_type LIKE 'SELLER_SHIPPING'
    ),
    CT6 AS(
        SELECT country, seller_pk_seller_addresses_xref
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
        WHERE address_type LIKE 'SELLER_SHIPPING'
    )
    
    SELECT  CT1.seller_pk,
            CT1.seller_status,
            CT1.seller_status_code,
            CT1.seller_rating,
            CT1.seller_registered,
            CT1.seller_agreement_start_date,
            CT1.seller_destinguished,
            CT3.state as seller_default_state,
            CT4.country as seller_default_country,
            CT5.state as seller_shipping_state,
            CT6.country as seller_shipping_country
            
    FROM CT1 , CT3, CT4, CT5, CT6
    WHERE seller_pk = CT3.seller_pk_seller_addresses_xref
            AND seller_pk = CT4.seller_pk_seller_addresses_xref
            AND seller_pk = CT5.seller_pk_seller_addresses_xref
            AND seller_pk = CT6.seller_pk_seller_addresses_xref
    LIMIT 3;


"""
temp_df_master_5 = pd.read_sql_query(master_q_5, engine)
temp_df_master_5

,seller_pk,seller_status,seller_status_code,seller_rating,seller_registered,seller_agreement_start_date,seller_destinguished,seller_default_state,seller_default_country,seller_shipping_state,seller_shipping_country
0,a_1,closed,closed.voluntary,None,2010-05-09 18:39:09,2010-05-09 12:00:00,0,Paris,FR,Paris,FR
1,a_10,closed,closed.voluntary,A,2010-08-06 14:41:22,2010-08-06 12:00:00,0,NY,US,NY,US
2,a_100,closed,closed.voluntary,None,2012-02-23 12:41:52,2012-02-23 12:00:00,0,CA,US,CA,US

In [19]:
master_q_6 = """
    WITH CT1 AS (
        SELECT  seller_pk ,
            seller_status ,
            seller_status_code,
            seller_rating,
            TIMEZONE('America/New_York',TO_TIMESTAMP(seller_date_registered))
            AS seller_registered,
            CASE WHEN seller_date_contract_start = 0 THEN NULL
            ELSE TIMEZONE('America/New_York',TO_TIMESTAMP(seller_date_contract_start)) 
            END
            AS "seller_agreement_start_date",
            CAST((
                CASE 
                    WHEN seller_distinguished IS NULL THEN FALSE
                    ELSE TRUE 
                END 
            ) AS INTEGER) AS "seller_destinguished"
        FROM stdib_dibssellers
            
    ),
    CT2 AS (
        SELECT *
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
    ),
    CT3 AS (
        SELECT state, seller_pk_seller_addresses_xref
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
        WHERE address_type LIKE 'SELLER_DEFAULT'
    ),
    CT4 AS (
        SELECT country, seller_pk_seller_addresses_xref
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
        WHERE address_type LIKE 'SELLER_DEFAULT'
    ),
    CT5 AS(
        SELECT state, seller_pk_seller_addresses_xref
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
        WHERE address_type LIKE 'SELLER_SHIPPING'
    ),
    CT6 AS(
        SELECT country, seller_pk_seller_addresses_xref
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
        WHERE address_type LIKE 'SELLER_SHIPPING'
    ),
    CT7 AS(
       SELECT  CT1.seller_pk,
            CT1.seller_status,
            CT1.seller_status_code,
            CT1.seller_rating,
            CT1.seller_registered,
            CT1.seller_agreement_start_date,
            CT1.seller_destinguished,
            CT3.state as seller_default_state,
            CT4.country as seller_default_country,
            CT5.state as seller_shipping_state,
            CT6.country as seller_shipping_country
            
            
        FROM CT1 , CT3, CT4, CT5, CT6
        WHERE seller_pk = 'f_20' 
                AND CT3.seller_pk_seller_addresses_xref ='f_20' 
                AND CT4.seller_pk_seller_addresses_xref ='f_20' 
                AND CT5.seller_pk_seller_addresses_xref ='f_20'
                AND CT6.seller_pk_seller_addresses_xref ='f_20'
    ),
    CT8 AS (
        SELECT country, state, seller_pk_seller_addresses_xref
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
        WHERE address_type LIKE 'SELLER_BILLING' 
    )
    
    SELECT  seller_pk,
            seller_status,
            seller_status_code,
            seller_rating,
            seller_registered,
            seller_agreement_start_date,
            seller_destinguished,
            seller_default_state,
            seller_default_country,
            seller_shipping_state,
            seller_shipping_country,
            state as seller_billing_state,
            country as seller_billing_country
    FROM CT7 LEFT JOIN CT8 ON seller_pk = seller_pk_seller_addresses_xref ;


"""
temp_df_master_6 = pd.read_sql_query(master_q_6, engine)
temp_df_master_6

,seller_pk,seller_status,seller_status_code,seller_rating,seller_registered,seller_agreement_start_date,seller_destinguished,seller_default_state,seller_default_country,seller_shipping_state,seller_shipping_country,seller_billing_state,seller_billing_country
0,f_20,closed,closed.voluntary,None,2000-11-03 16:08:42,None,0,None,FR,None,FR,None,None

In [24]:
master_q_7 = """
    WITH CT1 AS (
        SELECT  seller_pk ,
            seller_status ,
            seller_status_code,
            seller_rating,
            TIMEZONE('America/New_York',TO_TIMESTAMP(seller_date_registered))
            AS seller_registered,
            CASE WHEN seller_date_contract_start = 0 THEN NULL
            ELSE TIMEZONE('America/New_York',TO_TIMESTAMP(seller_date_contract_start)) 
            END
            AS "seller_agreement_start_date",
            CAST((
                CASE 
                    WHEN seller_distinguished IS NULL THEN FALSE
                    ELSE TRUE 
                END 
            ) AS INTEGER) AS "seller_destinguished"
        FROM stdib_dibssellers
            
    ),
    CT2 AS (
        SELECT *
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
    ),
    CT3 AS (
        SELECT state, seller_pk_seller_addresses_xref
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
        WHERE address_type LIKE 'SELLER_DEFAULT'
    ),
    CT4 AS (
        SELECT country, seller_pk_seller_addresses_xref
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
        WHERE address_type LIKE 'SELLER_DEFAULT'
    ),
    CT5 AS(
        SELECT state, seller_pk_seller_addresses_xref
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
        WHERE address_type LIKE 'SELLER_SHIPPING'
    ),
    CT6 AS(
        SELECT country, seller_pk_seller_addresses_xref
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
        WHERE address_type LIKE 'SELLER_SHIPPING'
    ),
    CT7 AS(
       SELECT  CT1.seller_pk,
            CT1.seller_status,
            CT1.seller_status_code,
            CT1.seller_rating,
            CT1.seller_registered,
            CT1.seller_agreement_start_date,
            CT1.seller_destinguished,
            CT3.state as seller_default_state,
            CT4.country as seller_default_country,
            CT5.state as seller_shipping_state,
            CT6.country as seller_shipping_country
            
            
        FROM CT1 , CT3, CT4, CT5, CT6
        WHERE seller_pk = 'f_20' 
                AND CT3.seller_pk_seller_addresses_xref ='f_20' 
                AND CT4.seller_pk_seller_addresses_xref ='f_20' 
                AND CT5.seller_pk_seller_addresses_xref ='f_20'
                AND CT6.seller_pk_seller_addresses_xref ='f_20'
    ),
    CT8 AS (
        SELECT country, state, seller_pk_seller_addresses_xref
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
        WHERE address_type LIKE 'SELLER_BILLING' 
    ),
    CT9 AS (
        SELECT  seller_pk,
            seller_status,
            seller_status_code,
            seller_rating,
            seller_registered,
            seller_agreement_start_date,
            seller_destinguished,
            seller_default_state,
            seller_default_country,
            seller_shipping_state,
            seller_shipping_country,
            state as seller_billing_state,
            country as seller_billing_country
        FROM CT7 LEFT JOIN CT8 ON seller_pk = seller_pk_seller_addresses_xref
    )
    SELECT seller_pk,
            seller_status,
            seller_status_code,
            seller_rating,
            seller_registered,
            seller_agreement_start_date,
            seller_destinguished,
            seller_default_state,
            seller_default_country,
            seller_shipping_state,
            seller_shipping_country,
            seller_billing_state,
            seller_billing_country,
            contact_id as seller_contact_id
    FROM CT9 LEFT JOIN salesforce_contact_records ON seller_pk = seller_pk_salesforce_contact_records;


"""
temp_df_master_7 = pd.read_sql_query(master_q_7, engine)
temp_df_master_7

,seller_pk,seller_status,seller_status_code,seller_rating,seller_registered,seller_agreement_start_date,seller_destinguished,seller_default_state,seller_default_country,seller_shipping_state,seller_shipping_country,seller_billing_state,seller_billing_country,seller_contact_id
0,f_20,closed,closed.voluntary,None,2000-11-03 16:08:42,None,0,None,FR,None,FR,None,None,003E000000ABxTyIAL

In [26]:
master_q_8 = """
    WITH CT1 AS (
        SELECT  seller_pk ,
            seller_status ,
            seller_status_code,
            seller_rating,
            TIMEZONE('America/New_York',TO_TIMESTAMP(seller_date_registered))
            AS seller_registered,
            CASE WHEN seller_date_contract_start = 0 THEN NULL
            ELSE TIMEZONE('America/New_York',TO_TIMESTAMP(seller_date_contract_start)) 
            END
            AS "seller_agreement_start_date",
            CAST((
                CASE 
                    WHEN seller_distinguished IS NULL THEN FALSE
                    ELSE TRUE 
                END 
            ) AS INTEGER) AS "seller_destinguished"
        FROM stdib_dibssellers
            
    ),
    CT2 AS (
        SELECT *
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
    ),
    CT3 AS (
        SELECT state, seller_pk_seller_addresses_xref
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
        WHERE address_type LIKE 'SELLER_DEFAULT'
    ),
    CT4 AS (
        SELECT country, seller_pk_seller_addresses_xref
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
        WHERE address_type LIKE 'SELLER_DEFAULT'
    ),
    CT5 AS(
        SELECT state, seller_pk_seller_addresses_xref
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
        WHERE address_type LIKE 'SELLER_SHIPPING'
    ),
    CT6 AS(
        SELECT country, seller_pk_seller_addresses_xref
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
        WHERE address_type LIKE 'SELLER_SHIPPING'
    ),
    CT7 AS(
       SELECT  CT1.seller_pk,
            CT1.seller_status,
            CT1.seller_status_code,
            CT1.seller_rating,
            CT1.seller_registered,
            CT1.seller_agreement_start_date,
            CT1.seller_destinguished,
            CT3.state as seller_default_state,
            CT4.country as seller_default_country,
            CT5.state as seller_shipping_state,
            CT6.country as seller_shipping_country
            
            
        FROM CT1 , CT3, CT4, CT5, CT6
        WHERE seller_pk = 'f_20' 
                AND CT3.seller_pk_seller_addresses_xref ='f_20' 
                AND CT4.seller_pk_seller_addresses_xref ='f_20' 
                AND CT5.seller_pk_seller_addresses_xref ='f_20'
                AND CT6.seller_pk_seller_addresses_xref ='f_20'
    ),
    CT8 AS (
        SELECT country, state, seller_pk_seller_addresses_xref
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
        WHERE address_type LIKE 'SELLER_BILLING' 
    ),
    CT9 AS (
        SELECT  seller_pk,
            seller_status,
            seller_status_code,
            seller_rating,
            seller_registered,
            seller_agreement_start_date,
            seller_destinguished,
            seller_default_state,
            seller_default_country,
            seller_shipping_state,
            seller_shipping_country,
            state as seller_billing_state,
            country as seller_billing_country
        FROM CT7 LEFT JOIN CT8 ON seller_pk = seller_pk_seller_addresses_xref
    ),
    CT10 AS (
        SELECT seller_pk,
            seller_status,
            seller_status_code,
            seller_rating,
            seller_registered,
            seller_agreement_start_date,
            seller_destinguished,
            seller_default_state,
            seller_default_country,
            seller_shipping_state,
            seller_shipping_country,
            seller_billing_state,
            seller_billing_country,
            contact_id as seller_contact_id
        FROM CT9 LEFT JOIN salesforce_contact_records ON seller_pk = seller_pk_salesforce_contact_records

    )
    SELECT  seller_pk,
            seller_status,
            seller_status_code,
            seller_rating,
            seller_registered,
            seller_agreement_start_date,
            seller_destinguished,
            seller_default_state,
            seller_default_country,
            seller_shipping_state,
            seller_shipping_country,
            seller_billing_state,
            seller_billing_country,
            seller_contact_id,
            account_id as seller_account_id
    FROM CT10 LEFT JOIN salesforce_account_records ON seller_pk = seller_pk_salesforce_account_records;


"""
temp_df_master_8 = pd.read_sql_query(master_q_8, engine)
temp_df_master_8

,seller_pk,seller_status,seller_status_code,seller_rating,seller_registered,seller_agreement_start_date,seller_destinguished,seller_default_state,seller_default_country,seller_shipping_state,seller_shipping_country,seller_billing_state,seller_billing_country,seller_contact_id,seller_account_id
0,f_20,closed,closed.voluntary,None,2000-11-03 16:08:42,None,0,None,FR,None,FR,None,None,003E000000ABxTyIAL,001E000000DwI2fIAF

In [27]:
master_q_9 = """
    WITH CT1 AS (
        SELECT  seller_pk ,
            seller_status ,
            seller_status_code,
            seller_rating,
            TIMEZONE('America/New_York',TO_TIMESTAMP(seller_date_registered))
            AS seller_registered,
            CASE WHEN seller_date_contract_start = 0 THEN NULL
            ELSE TIMEZONE('America/New_York',TO_TIMESTAMP(seller_date_contract_start)) 
            END
            AS "seller_agreement_start_date",
            CAST((
                CASE 
                    WHEN seller_distinguished IS NULL THEN FALSE
                    ELSE TRUE 
                END 
            ) AS INTEGER) AS "seller_destinguished"
        FROM stdib_dibssellers
            
    ),
    CT2 AS (
        SELECT *
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
    ),
    CT3 AS (
        SELECT state, seller_pk_seller_addresses_xref
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
        WHERE address_type LIKE 'SELLER_DEFAULT'
    ),
    CT4 AS (
        SELECT country, seller_pk_seller_addresses_xref
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
        WHERE address_type LIKE 'SELLER_DEFAULT'
    ),
    CT5 AS(
        SELECT state, seller_pk_seller_addresses_xref
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
        WHERE address_type LIKE 'SELLER_SHIPPING'
    ),
    CT6 AS(
        SELECT country, seller_pk_seller_addresses_xref
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
        WHERE address_type LIKE 'SELLER_SHIPPING'
    ),
    CT7 AS(
       SELECT  CT1.seller_pk,
            CT1.seller_status,
            CT1.seller_status_code,
            CT1.seller_rating,
            CT1.seller_registered,
            CT1.seller_agreement_start_date,
            CT1.seller_destinguished,
            CT3.state as seller_default_state,
            CT4.country as seller_default_country,
            CT5.state as seller_shipping_state,
            CT6.country as seller_shipping_country
            
            
        FROM CT1 , CT3, CT4, CT5, CT6
        WHERE seller_pk = CT3.seller_pk_seller_addresses_xref
            AND seller_pk = CT4.seller_pk_seller_addresses_xref
            AND seller_pk = CT5.seller_pk_seller_addresses_xref
            AND seller_pk = CT6.seller_pk_seller_addresses_xref
    ),
    CT8 AS (
        SELECT country, state, seller_pk_seller_addresses_xref
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
        WHERE address_type LIKE 'SELLER_BILLING' 
    ),
    CT9 AS (
        SELECT  seller_pk,
            seller_status,
            seller_status_code,
            seller_rating,
            seller_registered,
            seller_agreement_start_date,
            seller_destinguished,
            seller_default_state,
            seller_default_country,
            seller_shipping_state,
            seller_shipping_country,
            state as seller_billing_state,
            country as seller_billing_country
        FROM CT7 LEFT JOIN CT8 ON seller_pk = seller_pk_seller_addresses_xref
    ),
    CT10 AS (
        SELECT seller_pk,
            seller_status,
            seller_status_code,
            seller_rating,
            seller_registered,
            seller_agreement_start_date,
            seller_destinguished,
            seller_default_state,
            seller_default_country,
            seller_shipping_state,
            seller_shipping_country,
            seller_billing_state,
            seller_billing_country,
            contact_id as seller_contact_id
        FROM CT9 LEFT JOIN salesforce_contact_records ON seller_pk = seller_pk_salesforce_contact_records

    )
    SELECT  seller_pk,
            seller_status,
            seller_status_code,
            seller_rating,
            seller_registered,
            seller_agreement_start_date,
            seller_destinguished,
            seller_default_state,
            seller_default_country,
            seller_shipping_state,
            seller_shipping_country,
            seller_billing_state,
            seller_billing_country,
            seller_contact_id,
            account_id as seller_account_id
    FROM CT10 LEFT JOIN salesforce_account_records ON seller_pk = seller_pk_salesforce_account_records
    LIMIT 3;


"""
temp_df_master_9 = pd.read_sql_query(master_q_9, engine)
temp_df_master_9

,seller_pk,seller_status,seller_status_code,seller_rating,seller_registered,seller_agreement_start_date,seller_destinguished,seller_default_state,seller_default_country,seller_shipping_state,seller_shipping_country,seller_billing_state,seller_billing_country,seller_contact_id,seller_account_id
0,a_1,closed,closed.voluntary,None,2010-05-09 18:39:09,2010-05-09 12:00:00,0,Paris,FR,Paris,FR,None,None,None,None
1,a_10,closed,closed.voluntary,A,2010-08-06 14:41:22,2010-08-06 12:00:00,0,NY,US,NY,US,NY,US,003E0000014rDUdIAM,001E000000Dww4IIAR
2,a_100,closed,closed.voluntary,None,2012-02-23 12:41:52,2012-02-23 12:00:00,0,CA,US,CA,US,None,None,003E000000Ft5aiIAB,001E000000J2ID7IAN

In [30]:
master_q_10 = """
    WITH CT1 AS (
        SELECT  seller_pk ,
            seller_status ,
            seller_status_code,
            seller_rating,
            TIMEZONE('America/New_York',TO_TIMESTAMP(seller_date_registered))
            AS seller_registered,
            CASE WHEN seller_date_contract_start = 0 THEN NULL
            ELSE TIMEZONE('America/New_York',TO_TIMESTAMP(seller_date_contract_start)) 
            END
            AS "seller_agreement_start_date",
            CAST((
                CASE 
                    WHEN seller_distinguished IS NULL THEN FALSE
                    ELSE TRUE 
                END 
            ) AS INTEGER) AS "seller_destinguished"
        FROM stdib_dibssellers
            
    ),
    CT2 AS (
        SELECT *
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
    ),
    CT4 AS (
        SELECT country, state, seller_pk_seller_addresses_xref
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
        WHERE address_type LIKE 'SELLER_DEFAULT'
    ),
    CT6 AS(
        SELECT country, state, seller_pk_seller_addresses_xref
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
        WHERE address_type LIKE 'SELLER_SHIPPING'
    ),
    CT7 AS(
       SELECT  CT1.seller_pk,
            CT1.seller_status,
            CT1.seller_status_code,
            CT1.seller_rating,
            CT1.seller_registered,
            CT1.seller_agreement_start_date,
            CT1.seller_destinguished,
            CT4.state as seller_default_state,
            CT4.country as seller_default_country,
            CT6.state as seller_shipping_state,
            CT6.country as seller_shipping_country
            
            
        FROM CT1 , CT4, CT6
        WHERE seller_pk = CT4.seller_pk_seller_addresses_xref
            AND seller_pk = CT6.seller_pk_seller_addresses_xref
    ),
    CT8 AS (
        SELECT country, state, seller_pk_seller_addresses_xref
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
        WHERE address_type LIKE 'SELLER_BILLING' 
    ),
    CT9 AS (
        SELECT  seller_pk,
            seller_status,
            seller_status_code,
            seller_rating,
            seller_registered,
            seller_agreement_start_date,
            seller_destinguished,
            seller_default_state,
            seller_default_country,
            seller_shipping_state,
            seller_shipping_country,
            state as seller_billing_state,
            country as seller_billing_country
        FROM CT7 LEFT JOIN CT8 ON seller_pk = seller_pk_seller_addresses_xref
    ),
    CT10 AS (
        SELECT seller_pk,
            seller_status,
            seller_status_code,
            seller_rating,
            seller_registered,
            seller_agreement_start_date,
            seller_destinguished,
            seller_default_state,
            seller_default_country,
            seller_shipping_state,
            seller_shipping_country,
            seller_billing_state,
            seller_billing_country,
            contact_id as seller_contact_id
        FROM CT9 LEFT JOIN salesforce_contact_records ON seller_pk = seller_pk_salesforce_contact_records

    )
    SELECT  seller_pk,
            seller_status,
            seller_status_code,
            seller_rating,
            seller_registered,
            seller_agreement_start_date,
            seller_destinguished,
            seller_default_state,
            seller_default_country,
            seller_shipping_state,
            seller_shipping_country,
            seller_billing_state,
            seller_billing_country,
            seller_contact_id,
            account_id as seller_account_id
    FROM CT10 LEFT JOIN salesforce_account_records ON seller_pk = seller_pk_salesforce_account_records
    LIMIT 3;


"""
temp_df_master_10 = pd.read_sql_query(master_q_10, engine)
temp_df_master_10

,seller_pk,seller_status,seller_status_code,seller_rating,seller_registered,seller_agreement_start_date,seller_destinguished,seller_default_state,seller_default_country,seller_shipping_state,seller_shipping_country,seller_billing_state,seller_billing_country,seller_contact_id,seller_account_id
0,a_1,closed,closed.voluntary,None,2010-05-09 18:39:09,2010-05-09 12:00:00,0,Paris,FR,Paris,FR,None,None,None,None
1,a_10,closed,closed.voluntary,A,2010-08-06 14:41:22,2010-08-06 12:00:00,0,NY,US,NY,US,NY,US,003E0000014rDUdIAM,001E000000Dww4IIAR
2,a_100,closed,closed.voluntary,None,2012-02-23 12:41:52,2012-02-23 12:00:00,0,CA,US,CA,US,None,None,003E000000Ft5aiIAB,001E000000J2ID7IAN

In [37]:
master_q_11 = """
    WITH CT1 AS (
        SELECT  seller_pk ,
            seller_status ,
            seller_status_code,
            seller_rating,
            TIMEZONE('America/New_York',TO_TIMESTAMP(seller_date_registered))
            AS seller_registered,
            CASE WHEN seller_date_contract_start = 0 THEN NULL
            ELSE TIMEZONE('America/New_York',TO_TIMESTAMP(seller_date_contract_start)) 
            END
            AS "seller_agreement_start_date",
            CAST((
                CASE 
                    WHEN seller_distinguished IS NULL THEN FALSE
                    ELSE TRUE 
                END 
            ) AS INTEGER) AS "seller_destinguished"
        FROM stdib_dibssellers
            
    ),
    SELLER_DEF_T AS (
        SELECT country, state, seller_pk_seller_addresses_xref
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
        WHERE address_type LIKE 'SELLER_DEFAULT'
    ),
    SELLER_SHIP_T AS(
        SELECT country, state, seller_pk_seller_addresses_xref
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
        WHERE address_type LIKE 'SELLER_SHIPPING'
    ),
    CT2 AS(
       SELECT  CT1.seller_pk,
            CT1.seller_status,
            CT1.seller_status_code,
            CT1.seller_rating,
            CT1.seller_registered,
            CT1.seller_agreement_start_date,
            CT1.seller_destinguished,
            SELLER_DEF_T.state as seller_default_state,
            SELLER_DEF_T.country as seller_default_country,
            SELLER_SHIP_T.state as seller_shipping_state,
            SELLER_SHIP_T.country as seller_shipping_country
            
            
        FROM CT1 , SELLER_DEF_T, SELLER_SHIP_T
        WHERE seller_pk = SELLER_DEF_T.seller_pk_seller_addresses_xref
            AND seller_pk = SELLER_SHIP_T.seller_pk_seller_addresses_xref
    ),
    SELLER_BILL_T AS (
        SELECT country, state, seller_pk_seller_addresses_xref
        FROM seller_addresses LEFT JOIN seller_addresses_xref ON id_seller_addresses = address_id
        WHERE address_type LIKE 'SELLER_BILLING' 
    ),
    CT3 AS (
        SELECT  seller_pk,
            seller_status,
            seller_status_code,
            seller_rating,
            seller_registered,
            seller_agreement_start_date,
            seller_destinguished,
            seller_default_state,
            seller_default_country,
            seller_shipping_state,
            seller_shipping_country,
            state as seller_billing_state,
            country as seller_billing_country
        FROM CT2 LEFT JOIN SELLER_BILL_T ON seller_pk = seller_pk_seller_addresses_xref
    ),
    CT4 AS (
        SELECT seller_pk,
            seller_status,
            seller_status_code,
            seller_rating,
            seller_registered,
            seller_agreement_start_date,
            seller_destinguished,
            seller_default_state,
            seller_default_country,
            seller_shipping_state,
            seller_shipping_country,
            seller_billing_state,
            seller_billing_country,
            contact_id as seller_contact_id
        FROM CT3 LEFT JOIN salesforce_contact_records ON seller_pk = seller_pk_salesforce_contact_records

    )
    SELECT  seller_pk,
            seller_status,
            seller_status_code,
            seller_rating,
            seller_registered,
            seller_agreement_start_date,
            seller_destinguished,
            seller_default_state,
            seller_default_country,
            seller_shipping_state,
            seller_shipping_country,
            seller_billing_state,
            seller_billing_country,
            seller_contact_id,
            account_id as seller_account_id
    FROM CT4 LEFT JOIN salesforce_account_records ON seller_pk = seller_pk_salesforce_account_records
    LIMIT 20;


"""
temp_df_master_11 = pd.read_sql_query(master_q_11, engine)
temp_df_master_11

,seller_pk,seller_status,seller_status_code,seller_rating,seller_registered,seller_agreement_start_date,seller_destinguished,seller_default_state,seller_default_country,seller_shipping_state,seller_shipping_country,seller_billing_state,seller_billing_country,seller_contact_id,seller_account_id
0,a_10,closed,closed.voluntary,A,2010-08-06 14:41:22,2010-08-06 12:00:00,0,NY,US,NY,US,NY,US,003E0000014rDUdIAM,001E000000Dww4IIAR
1,a_1002,closed,closed.voluntary,C,2015-02-06 10:02:48,2015-02-04 00:00:00,0,OH,US,OH,US,OH,US,003E000001QeyqeIAB,001E0000015nCtGIAU
2,a_10071,closed,closed.voluntary,C,2018-08-08 11:01:59,2018-08-08 00:00:00,0,Zealand,DK,Zealand,DK,Zealand,DK,0030L00001yIwW1QAK,0010L00001trvC5QAI
3,a_101,closed,closed.voluntary,C_PLUS,2012-03-02 12:36:47,2012-03-02 00:00:00,0,ON,CA,ON,CA,ON,CA,003E000000Ft5ajIAB,001E000000J2ID8IAN
4,a_1012,closed,closed.involuntary,None,2015-02-12 17:23:37,2015-02-12 00:00:00,0,NY,US,NY,US,NY,US,003E000001Xfu6OIAR,001E0000015nfg9IAA
5,a_10121,active,active.active,C,2018-08-20 10:28:35,2018-08-17 00:00:00,0,CA,US,CA,US,CA,US,0030L00001yns64QAA,0010L00001tcYT9QAM
6,a_1013,closed,closed.voluntary,None,2015-02-13 01:37:10,2015-01-22 00:00:00,0,NY,US,NY,US,NY,US,003E000001BQPs2IAH,001E0000015ngsxIAA
7,a_10131,closed,closed.voluntary,C,2018-08-21 05:40:29,2018-08-20 00:00:00,0,Dordogne,FR,Dordogne,FR,Dordogne,FR,0030L00001ynyuKQAQ,0010L00001tceIkQAI
8,a_10163,closed,closed.involuntary,C,2018-08-23 11:36:17,2018-08-23 00:00:00,0,NY,US,NY,US,NY,US,0030L00001ypDtOQAU,0010L00001uBTR0QAO
9,a_102,nopay,nopay.complimentary,A,2012-03-21 17:41:59,2012-03-21 12:00:00,1,NY,US,NY,US,NY,US,003E0000017WRn6IAG,001E000000Mk4kuIAB
10,a_1022,closed,closed.involuntary,C,2015-02-19 14:44:30,2015-02-18 00:00:00,0,CA,US,CA,US,CA,US,003E000001BReb3IAD,001E0000015ojQQIAY
11,a_10231,closed,closed.involuntary,C,2018-09-06 09:40:34,2018-09-05 00:00:00,0,None,GB,None,GB,None,GB,0030L00001z1T8PQAU,0010L00001uJKCgQAO
12,a_10253,active,active.active,A,2018-09-12 13:26:11,2018-09-12 00:00:00,0,TX,US,TX,US,PA,US,0030L00001z2VEEQA2,0010L00001uKDvDQAW
13,a_103,closed,closed.voluntary,B,2012-04-09 03:33:27,2012-04-09 12:00:00,0,Dorset,GB,Dorset,GB,Dorset,GB,0030L00001liJF9QAM,001E000000Mk4egIAB
14,a_1032,active,active.active,B,2015-02-19 15:04:22,2015-02-18 00:00:00,0,NY,US,NY,US,CA,US,003E000001UmY9nIAF,001E0000015ojY5IAI
15,a_10331,active,active.active,C,2018-09-24 06:38:03,2018-09-24 00:00:00,0,None,ES,None,ES,None,ES,0030L00001z3LQ7QAM,0010L00001uLatWQAS
16,a_10403,closed,closed.voluntary,C_PLUS,2018-10-02 04:31:12,2018-09-30 00:00:00,0,None,GB,None,GB,None,GB,0030L00001z3qSLQAY,0010L00001uM4MvQAK
17,a_10411,active,active.active,C,2018-10-08 04:03:36,2018-10-01 00:00:00,0,None,FR,None,FR,None,FR,0030L00001zkDwlQAE,0010L00001uMJrRQAW
18,a_1042,active,active.active,C,2015-02-20 11:09:20,2015-02-19 00:00:00,0,TX,US,TX,US,TX,US,003E000001BRtgjIAD,001E0000015orNjIAI
19,a_10431,active,active.active,C,2018-10-08 04:21:49,2018-10-03 00:00:00,0,None,ES,None,ES,None,ES,0030L00001zkDy3QAE,0010L00001uMJrvQAG